@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:wght@300;400;500;600&display=swap");

@import "tailwindcss";
/* Ensure Instrument Serif font is properly loaded */
@layer base {
  .font-montserrat {
    font-family: Montserrat, sans-serif;
  }
}

@layer utilities {
  .font-instrument {
    font-family: "Instrument Serif", serif;
    
  }
}
/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}


@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
 
.animate-slide {
  animation: slideRightToLeft 0.6s ease-out;
}

